html,
body {
  overflow: hidden;
  font-size: 16px;
}

.popup {
  width: 300px;
  text-align: center;
  padding: 0.5em;
}

.popup-header {
  font-weight: bold;
}

.button-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.button-group button {
  display: block;
  background: transparent;
  display: flex;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  transition: all 150ms ease-in-out;
}

.button-group button:hover {
  background: #e6e6e6;
}
